@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: lightblue;
  font-family: 'Roboto', sans-serif; /* Apply custom font */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure full viewport height */
  margin: 0;
}

#loadingSpinner {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.jeopardyTable {
  border-collapse: collapse; /* Ensures no space between table cells */
  margin-top: 20px; /* Margin above the table */
}

.jeopardyTable th,
.jeopardyTable td {
  border: 2px solid #333; /* Border around each table cell */
  padding: 10px; /* Padding inside each table cell */
  text-align: center; /* Center text horizontally */
}

.jeopardyTable td {
  width: 100px; /* Adjust width of each table cell */
  height: 100px; /* Adjust height of each table cell */
  max-width: 100px; /* Ensure cells do not exceed this width */
  max-height: 100px; /* Ensure cells do not exceed this height */
  background-color: rgb(128, 195, 240); /* Background color for table cells */
}

.jeopardyTable th {
  background-color: #5b85df; /* Background color for table headers */
}

button {
  margin: 10px; /* Margin around buttons */
  font-family: 'Roboto', sans-serif; /* Apply custom font to buttons */
}

#start {
  position: absolute;
  top: 20px; /* Adjust top position to move button down from the top */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(12, 132, 245);
  border: 1px solid black;
  font-size: 120%;
}

#restart {
position: relative; 
  left: 5%;
  transform: translateX(-50%);
  background-color: rgb(240, 102, 102);
  color: white;
  border: 1px solid black;
  font-size: 120%;
}